## Learning few tricks

In [3]:
# exponential operator
# we know 10^2 is 
10 ** 2

100

In [4]:
# To leave off the remainder value when doing division, use the remainder operator //, which is two forward slash marks:
45//2

22

In [5]:
# Integer Variable
numberOfRocks = 5

# Float Variable
tempInSpace = -457.87

# String Variable
roverName = "Artemis Rover"

# Boolean Variable
rocketOn = False

In [6]:
roverName

'Artemis Rover'

In [7]:
# Create integer variable named basaltRockCount with value 0
basaltRockCount = 0

In [8]:
basaltRockCount = 3
basaltRockCount = basaltRockCount + 1
basaltRockCount

4

In [9]:
basaltRockCount = 5
basaltRockCount += 3 #Add 3
basaltRockCount -= 2 #Remove 2

In [10]:
# Find out how many miles until rocket reaches moon
distanceToMoon = 238855
distanceTraveled = 10234
distanceToMoon - distanceTraveled

228621

In [11]:
astronaut = "Remy Morris"

In [12]:
upperCase = astronaut.upper()
upperCase

'REMY MORRIS'

In [13]:
astronaut.upper

In [14]:
lowerCase = astronaut.lower()
lowerCase

'remy morris'

In [15]:
rocketOutput = "rOckEt iS A laUncH!"
rocketOutput.capitalize()

'Rocket is a launch!'

In [16]:
launchLocationCity = "Cape Canaveral, "
launchLocationState = "Florida"

launchLocationCity + launchLocationState

'Cape Canaveral, Florida'

In [17]:
artemisRoverSounds = "beep beep "
artemisRoverSounds * 3

'beep beep beep beep beep beep '

In [18]:
# Create a list of common moon rocks
rockTypes = ["basalt", "highland", "breccia"]
rockTypes

['basalt', 'highland', 'breccia']

In [19]:
# A list with rock names and the number of that rock found
rockTypeAndCount = ["basalt", 1, "highland", 2.5, "breccia", 5]
rockTypeAndCount

['basalt', 1, 'highland', 2.5, 'breccia', 5]

In [20]:
rockTypes.append("soil")
rockTypes

['basalt', 'highland', 'breccia', 'soil']

In [21]:
rockTypes.pop()
rockTypes

['basalt', 'highland', 'breccia']

In [22]:
rockTypes[1]

'highland'

In [23]:
rockTypes[2] = "soil"
rockTypes

['basalt', 'highland', 'soil']

In [24]:
2 + 2
5 + 3

8

In [25]:
print(6)
print("Hello World")

6
Hello World

In [26]:
numRocks = 15
print(numRocks)

15

In [27]:
numBasalt = 4
print("The number of Basalt rocks found:", numBasalt)

The number of Basalt rocks found: 4

In [28]:
date = "February 26"
numRocks = 15
print("On", date, "number of rocks found:", numRocks)

On February 26 number of rocks found: 15